{% extends '/Templates/default.twig' %}

{% block title %}

    <title>Actualités - {{ nameapp }}</title>

{% endblock %}

{% block content %}

    {% if flash('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ flash('success') }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if flash('error') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ flash('error') }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
        <h1>Actualités</h1>
        <div class="row">
            <div class="col-9">
                    {% if variable.posts is empty %} <p>Aucun article.</p>{% endif %}
                    {% for row in variable.posts | batch(2) %}
                        <div class="row">
                            {% for post in row %}
                                <div class="col-sm mb-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ post.title }}</h5>
                                            <p><small class="text-muted">{{ post.category }}</small></p>
                                            <p class="card-text">{{ post.extract | markdown }}</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <a href="index.php?p=posts.show&id={{ post.id }}" class="btn btn-sm btn-outline-secondary">Lire la suite</a>
                                                    {% if session.grade >=1 %}
                                                        <a href="index.php?p=admin.posts.edit&id={{ post.id }}" class="btn btn-sm btn-outline-primary">Editer</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Mise à jour le {{ post.date_update|date("d/m/Y") }}</small></br>
                                            <small class="text-muted">Autheur : {{ post.firstname }}</small>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}

                    {{ paginate(variable.posts, current_page_id) }}
                </div>
                <div class="col">
                    <ul class="list-group">
                        {% for category in variable.categories %}
                            <a href="{{ category.url }}" class="list-group-item list-group-item-action">
                                {{ category.title }}
                                <span class="badge badge-primary badge-pill">{{ category.total }}</span>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
        </div>

{% endblock %}
