{% extends '/Templates/default.twig' %}

{% block title %}

    <title>Gérer les commentaires - Mon blog</title>

{% endblock %}

{% block content %}


<h1>Gérer les commentaires</h1>


    {% if flash('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ flash('success') }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if flash('error') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ flash('error') }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}


<table class="table">

    <thead class="thead-dark">

    <tr>
        <th scope="col">ID</th>
        <th scope="col">Author</th>
        <th scope="col">Commentaire</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>

    </tr>

    </thead>
    <tbody>

    {% for comment in variable.comments %}

        <tr>
            <td style="width:15%;">{{ comment.id }}</td>
            <td style="width:20%;">{{ comment.username }}</td>
            <td style="width:25%;">{{ comment.content }}</td>
            <td style="width:15%;">{% if comment.approved == 1 %} Approuvé le {{ comment.date_approved|date("d/m/Y H:i") }}{% else %} Non approuvé {% endif %}</td>
            <td style="width:25%;">
                {% if comment.approved == 0 %}
                <form action="?p=admin.comments.approve" method="post" style="display: inline;">

                    <input type="hidden" name="id" value="{{ comment.id }}">

                    <button type="submit" class="btn btn-success">Approuver</button>

                </form>
                {% endif %}

                <form action="?p=admin.comments.delete" method="post" style="display: inline;">

                    <input type="hidden" name="id" value="{{ comment.id }}">

                    <button type="submit" class="btn btn-danger">Supprimer</button>

                </form>

            </td>

        </tr>

    {% endfor %}

    </tbody>
</table>
{% endblock %}