{% extends '/Templates/default.twig' %}

{% import '/Templates/form.twig' as form %}

{% block title %}

    <title>S'enregistrer - Mon blog</title>

{% endblock %}

{% block content %}

    {% if flash('success') %}
        <div class="alert alert-success">

            {{ flash('success') }}

        </div>
    {% endif %}

    {% if flash('error') %}
        <div class="alert alert-danger">

            {{ flash('error') }}

        </div>
    {% endif %}

    <form method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.input('firstname', 'Votre Prénom',  session.firstname , {require: 'required'})}}
            </div>
            <div class="form-group col-md-6">
                {{ form.input('lastname', 'Votre Nom',  session.lastname , {require: 'required'})}}
            </div>
        </div>
        <div class="form-group">
            {{ form.input('email', 'Votre email', session.email, {type: 'email', require: 'required'}) }}
        </div>
        <div class="form-group">
            {{ form.input('subject', 'Sujet',  '' , {require: 'required'})}}
        </div>
        <div class="form-group">
            {{ form.textarea('message', 'Votre message', '', {require: 'required'}) }}
        </div>

        <button class="btn btn-primary">Envoyer</button>

    </form>

{% endblock %}