{% extends '/Templates/default.twig' %}

{% block title %}

    <title>{{ nameapp }}</title>

{% endblock %}

{% block content %}
    <div class="jumbotron">
        <img src="./img/picture.jpg" class="rounded float-left mr-4" alt="Photo Profil">
        <h1 class="display-4">Développeur du jour ... Bonsoir !</h1>
        <p class="lead">Bonjour à tous et bievenue sur mon site,<br> je m'appel Mikaël MALVACHE et je suis développeur web depuis quelques années.
        <br>Découvrez mes derniers projet et retrouvez moi sur GitHub ou Linkedin;)</p>
        <a class="btn btn-primary btn-lg" href="https://github.com/Minikeys" role="button" target=”_blank”> <i class="fab fa-github"></i> GitHub</a>
        <a class="btn btn-primary btn-lg" href="https://fr.linkedin.com/in/mikael-malvache-89592760" role="button" target=”_blank”> <i class="fab fa-linkedin"></i> Linkedin</a>
        <a class="btn btn-primary btn-lg" href="./files/cv.pdf" role="button" target=”_blank”> <i class="far fa-file-pdf"></i> Mon CV</a>
    </div>

    {% if flash('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ flash('success') }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if flash('error') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ flash('error') }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <h2>Dernières Actualités</h2>

    {% for row in variable.posts | batch(2) %}
        <div class="row">
            {% for post in row %}
                <div class="col-sm mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p><small class="text-muted">{{ post.category }}</small></p>
                            <p class="card-text">{{ post.extract | markdown | striptags }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="index.php?p=posts.show&id={{ post.id }}" class="btn btn-sm btn-outline-secondary">Lire la suite</a>
                                    {% if session.grade >= 1 %}
                                        <a href="index.php?p=admin.posts.edit&id={{ post.id }}" class="btn btn-sm btn-outline-primary">Editer</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Mise à jour le {{ post.date_update|date("d/m/Y") }}</small></br>
                            <small class="text-muted">Autheur : {{ post.firstname }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}


{% endblock %}
