{% extends '/Templates/default.twig' %}

{% block title %}

    <title>Gérer les articles - {{ nameapp }}</title>

{% endblock %}

{% block content %}


<h1>Gérer les articles</h1>

<p>

    <a href="?p=admin.posts.add" class="btn btn-success">Ajouter</a>

</p>

    {% if flash('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ flash('success') }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if flash('error') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ flash('error') }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}


<table class="table">

    <thead class="thead-dark">

    <tr>
        <th scope="col">ID</th>
        <th scope="col">Titre</th>
        <th scope="col">Catégorie</th>
        <th scope="col">Actions</th>

    </tr>

    </thead>
    <tbody>

    {% for post in variable.posts %}

        <tr>
            <td style="width:25%;">{{ post.id }}</td>
            <td style="width:25%;">{{ post.title }}</td>
            <td style="width:25%;">{{ post.category }}</td>
            <td style="width:25%;">

                <a class="btn btn-primary" href="?p=admin.posts.edit&id={{ post.id }}">Editer</a>

                <form action="?p=admin.posts.delete" method="post" style="display: inline;">

                    <input type="hidden" name="id" value="{{ post.id }}">

                    <button type="submit" class="btn btn-danger">Supprimer</button>

                </form>

            </td>

        </tr>

    {% endfor %}

    </tbody>
</table>
    {{ paginate(variable.posts, current_page) }}
{% endblock %}
