<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    {% block title %}
        <title>{{ nameapp }}</title>
    {% endblock %}

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/starter-template/">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sticky-footer-navbar/">

    <style>
        main > .container {
            padding: 80px 15px 0;
        }
        .footer {
            background-color: #f5f5f5;
        }

        .footer > .container {
            padding-right: 15px;
            padding-left: 15px;
        }
    </style>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block css %} {% endblock %}
    {% block scriptinit %} {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" data-spy="affix" data-offset-top="197">
    <a class="navbar-brand" href="index.php?p=home">{{ nameapp }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ activeClass('home') }}">
                <a class="nav-link" href="index.php?p=home">Acceuil</a>
            </li>
            <li class="nav-item {{ activeClass('posts.index') }}">
                <a class="nav-link" href="index.php?p=posts.index">News</a>
            </li>
            <li class="nav-item {{ activeClass('contact') }}">
                <a class="nav-link" href="index.php?p=contact">Nous Contacter</a>
            </li>
        </ul>

        <ul class="navbar-nav justify-content-between">
        {% if session.auth is not null %}
            <span class="navbar-text mr-2">
                Bievenue {{ session.firstname }} !
            </span>
        {% endif %}

        {% if session.grade == 1 %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Administration
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item {{ activeClass('admin.posts.index') }}" href="index.php?p=admin.posts.index">Gérer les Articles</a>
                    <a class="dropdown-item {{ activeClass('admin.categories.index') }}" href="index.php?p=admin.categories.index">Gérer les Catégories</a>
                    <a class="dropdown-item {{ activeClass('admin.comments.index') }}" href="index.php?p=admin.comments.index">Gérer les commentaires</a>
                    <a class="dropdown-item {{ activeClass('admin.users.index') }}" href="index.php?p=admin.users.index">Gérer les utilisateurs</a>
                </div>
            </li>

        {% endif %}

        {% if session.auth is null %}
                <li class="nav-item {{ activeClass('admin.categories.index') }}">
                    <a class="nav-link mr-2" href="index.php?p=users.register">S'inscire</a>
                </li>
            </ul>
            <a class="btn btn-primary" href="index.php?p=users.login" role="button">Se connecter</a>
        {% else %}
            <a class="btn btn-danger" href="index.php?p=users.logout" role="button">Se déconnecter</a>
        {% endif %}

    </div>
</nav>

<main role="main" class="flex-shrink-0">

    <div class="container">

        {% block content %} {% endblock %}

    </div>

</main><!-- /.container -->

{% include '/Templates/footer.twig' %}

{% block script %} {% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
