{% extends '/Templates/default.twig' %}

{% block title %}

    <title>Gérer les utilisateurs - {{ nameapp }}</title>

{% endblock %}

{% block content %}

<div class="row">
    <div class="col col-xl-10">
        <h1>Gérer les utilisateurs</h1>
    </div>
    <div class="col col-sm">
        <div class="btn-group">
            <a class="btn btn-primary" href="index.php?p=admin.home.index" role="button">Administration</a>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item {{ activeClass('admin.posts.index') }}" href="index.php?p=admin.posts.index">Gérer les articles</a>
                {% if session.grade == 2 %}
                    <a class="dropdown-item {{ activeClass('admin.categories.index') }}" href="index.php?p=admin.categories.index">Gérer les catégories</a>
                    <a class="dropdown-item {{ activeClass('admin.comments.index') }}" href="index.php?p=admin.comments.index">Gérer les commentaires</a>
                    <a class="dropdown-item {{ activeClass('admin.users.index') }}" href="index.php?p=admin.users.index">Gérer les utilisateurs</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

    {% if flash('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ flash('success') }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if flash('error') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ flash('error') }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}


<table class="table">

    <thead class="thead-dark">

    <tr>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">Prénom - Nom</th>
        <th scope="col">Grade</th>
        <th scope="col">Statut</th>
        <th scope="col">Actions</th>

    </tr>

    </thead>
    <tbody>

    {% for user in variable.users %}

        <tr>
            <td style="width:5%;">{{ user.id }}</td>
            <td style="width:15%;">{{ user.username }}</td>
            <td style="width:20%;">{{ user.firstname }} {{ user.lastname }}</td>
            <td style="width:10%;">{% if user.grade == 2 %} Administrateur {% else %} Utilisateur {% endif %}</td>
            <td style="width:10%;">{% if user.statut == 1 %} Désactivé {% else %} Actif {% endif %}</td>
            <td style="width:30%;">
                {% if user.grade  == 1 %}
                    <form action="?p=admin.users.upgrade" method="post" style="display: inline;">

                        <input type="hidden" name="id" value="{{ user.id }}">

                        <button type="submit" class="btn btn-success">Changer le grade</button>

                    </form>
                {% else %}
                    <form action="?p=admin.users.downgrade" method="post" style="display: inline;">

                        <input type="hidden" name="id" value="{{ user.id }}">

                        <button type="submit" class="btn btn-success">Changer le grade</button>

                    </form>
                {% endif %}

                {% if user.statut  == 0 %}
                    <form action="?p=admin.users.desactived" method="post" style="display: inline;">

                        <input type="hidden" name="id" value="{{ user.id }}">

                        <button type="submit" class="btn btn-danger">Désactiver</button>

                    </form>
                {% else %}
                    <form action="?p=admin.users.activate" method="post" style="display: inline;">

                        <input type="hidden" name="id" value="{{ user.id }}">

                        <button type="submit" class="btn btn-success">Activer</button>

                    </form>
                {% endif %}

            </td>

        </tr>

    {% endfor %}

    </tbody>
</table>
    {{ paginate(variable.users, current_page) }}
{% endblock %}
