{% extends '/Templates/default.twig' %}

{% block title %}

    <title>Gérer les catégories - {{ nameapp }}</title>

{% endblock %}

{% block content %}

<h1>Gérer les catégories</h1>

<p>

    <a href="?p=admin.categories.add" class="btn btn-success">Ajouter</a>

</p>

    {% if flash('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ flash('success') }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if flash('error') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ flash('error') }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

<table class="table">

    <thead class="thead-dark">

    <tr>

        <th scope="col">ID</td>
        <th scope="col">Titre</td>
        <th scope="col">Actions</td>

    </tr>

    </thead>
    <tbody>

    {% for category in variable.items %}

        <tr>

            <td style="width:25%;">{{ category.id }}</td>
            <td style="width:50%;">{{ category.title }}</td>
            <td style="width:25%;">

                <a class="btn btn-primary" href="?p=admin.categories.edit&id={{ category.id }}">Editer</a>

                <form action="?p=admin.categories.delete" method="post" style="display: inline;">

                    <input type="hidden" name="id" value="{{ category.id }}">

                    <button type="submit" class="btn btn-danger">Supprimer</button>

                </form>

            </td>

        </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}
